/*
  bg: background-color
  border: border-color
  color: color text
*/

@mixin form_element($bg, $border, $color, $element) {
  border: {
    width: 1px;
    style: solid;
  }

  @if $bg {
    background-color: $bg;
  }

  @if $border {
    border-color: $border;
  }

  @if $color and $element {
    &,
    #{$element} {
      color: $color;
    }
  } @else if $color {
    color: $color;
  }
}

@mixin form_field_hover($border: $token-color-basic-800) {
  @if $border {
    &:hover {
      border-color: $border;
    }
  }
}

@mixin form_field_sizes($element, $size) {
  @if $element {
    @if $size == 'sm' {
      .#{$c-form-field-label} {
        @include iota-type(map-get($iota-objs-type-sizes, 'sm'));
      }
      .#{$c-form-field-element} {
        #{$element} {
          @include iota-type(map-get($iota-objs-type-sizes, $size));
        }
      }
      .#{$c-form-field-hint},
      .#{$c-form-field-helper} {
        @include iota-type(map-get($iota-objs-type-sizes, 'xs'));
      }
    } @else if $size == 'md' {
      .#{$c-form-field-label} {
        @include iota-type(map-get($iota-objs-type-sizes, 'sm'));
      }
      .#{$c-form-field-element} {
        #{$element} {
          @include iota-type(map-get($iota-objs-type-sizes, $size));
        }
      }
      .#{$c-form-field-hint},
      .#{$c-form-field-helper} {
        @include iota-type(map-get($iota-objs-type-sizes, 'xs'));
      }
    } @else if $size == 'lg' {
      .#{$c-form-field-label} {
        @include iota-type(map-get($iota-objs-type-sizes, 'md'));
      }
      .#{$c-form-field-element} {
        #{$element} {
          @include iota-type(map-get($iota-objs-type-sizes, $size));
        }
      }
      .#{$c-form-field-hint},
      .#{$c-form-field-helper} {
        @include iota-type(map-get($iota-objs-type-sizes, 'sm'));
      }
    }
  }
}
