/* normalize (base) & utility classes */
@import "../../shared";
@import "./extend";

:root {
  --primary-color-900: #{$token-color-900};
  --primary-color-700: #{$token-color-700};
  --primary-color-500: #{$token-color-500};
  --primary-color-300: #{$token-color-300};
  --primary-color-100: #{$token-color-100};
}

@include theme {
  @include body;
}
