// use just only for 'utilities'
$iota-spacing-extra: (
  -none: 0,
  -xs: $token-baseline-base,
  -sm: ($token-baseline-base * 2),
  -md: ($token-baseline-base * 4),
  -mmd: ($token-baseline-base * 5),
  -lg: ($token-baseline-base * 6),
  -xl: ($token-baseline-base * 8),
  -xxl: ($token-baseline-base * 12),
  "-0": 0,
  "-1": $token-baseline-base,
  "-2": $token-baseline-base * 2,
  "-3": $token-baseline-base * 3,
  "-4": $token-baseline-base * 4,
  "-5": $token-baseline-base * 5,
  "-6": $token-baseline-base * 6,
  "-8": $token-baseline-base * 8,
  "-12": $token-baseline-base * 12
);

// deprecated
$iota-media-extra: (
  none: 0,
  xs: $token-baseline-base,
  sm: (
    $token-baseline-base * 2
  ),
  md: (
    $token-baseline-base * 4
  ),
  mmd: (
    $token-baseline-base * 5
  ),
  lg: (
    $token-baseline-base * 6
  ),
  xl: (
    $token-baseline-base * 8
  ),
  xxl: (
    $token-baseline-base * 12
  )
);

// radius (Use this list)
$iota-border-radius: (
  none: 0,
  xs: $token-border-radius-xs,
  md: $token-border-radius-md,
  lg: $token-border-radius-lg,
  xl: $token-border-radius-xl,
  full: $token-size-percentage-full
);

// new spacing naming (Use this list)
$spacing: (
  0: 0,
  1: $token-baseline-base,
  2: $token-baseline-base * 2,
  3: $token-baseline-base * 3,
  4: $token-baseline-base * 4,
  5: $token-baseline-base * 5,
  6: $token-baseline-base * 6,
  8: $token-baseline-base * 8,
  12: $token-baseline-base * 12
);
