<app-page-layout>

    <app-progress-bar *ngIf="isLoading"></app-progress-bar>

    <ng-container *ngIf="!isLoading">
      <div class="o-container u-pv-6 u-mv-2">
        <p class="o-type-lg">Example (componente Atómico)</p>
        <section class="u-mb-10 u-text-center u-shadows-xs u-p">
          <button class="o-type-lg u-pointer u-color-100 u-pv-2 u-ph-4 u-reset-button"><strong>Example</strong></button>
        </section>
        <section class="u-pt-8 u-mt-8">
          <h1 class="u-pb-2">Fundamentals</h1>
          <div class="styles__example u-mt-0">
            <h5>Typography</h5>
            <p class="o-type-md">Base color: Basic 800</p>
            <br />
            <p class="o-type-md">
              <span class="u-weight-light">LIGHT </span>/ <span class="u-weight-regular">REGULAR </span>/
              <span class="u-weight-bold">BOLD </span>/ <em>ITALIC </em>
            </p>
            <p class="u-color-secondary">
              DEFAULT - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid minima, <strong>vel eligendi assumenda</strong>,
              dolorem sapiente et tempore qui amet, officiis magnam dolore delectus ratione. Officiis non repellat totam qui?
            </p>
            <br />
            <h6>Sizes</h6>
            <p class="o-type-xl">XL - Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="o-type-lg">LG - Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="o-type-md">MD - Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="o-type-sm">SM - Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="o-type-xs">XS - Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <br />
            <div class="o-display-1">Display 1</div>
            <div class="o-display-2">Display 2</div>
            <br />
            <h1>H1</h1>
            <h2>H2</h2>
            <h3>H3</h3>
            <h4>H4</h4>
            <h5>H5</h5>
            <h6>H6</h6>
          </div>
          <div class="styles__example">
            <h5>Theme's</h5>
            <p><strong>COLOR</strong> - primary</p>
            <div class="u-mb-xl u-text-center">
              <h6>Primary</h6>
              <div class="u-mb-xl o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-primary-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-primary-100">100</span>
                </div>
              </div>
            </div>
            <!-- <p><strong>Font-family</strong> - Alternative</p>
            <h6 class="u-mb-xl u-text-center">Alterative font</h6>
            <p class="u-mb-xs">Regular:</p>
            <p class="o-type-alt o-type-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsam veniam autem iusto quod molestiae, error illo mollitia, eos beatae
              deleniti quas, necessitatibus maiores quaerat commodi. Adipisci doloremque nam ipsum.
            </p>
            <p class="u-mb-xs">Bold:</p>
            <p class="o-type-alt o-type-lg">
              <strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsam veniam autem iusto quod molestiae, error illo mollitia, eos
                beatae deleniti quas, necessitatibus maiores quaerat commodi. Adipisci doloremque nam ipsum.
              </strong>
            </p>
            <p class="u-mb-xs">Italic:</p>
            <p class="o-type-alt o-type-lg">
              <em>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsam veniam autem iusto quod molestiae, error illo mollitia, eos
                beatae deleniti quas, necessitatibus maiores quaerat commodi. Adipisci doloremque nam ipsum.
              </em>
            </p> -->
          </div>
          <div class="styles__example u-text-center">
            <h5 class="u-text-left">Colors</h5>
            <h6 class="u-weight-bold u-pt-xl">(Brand)</h6>
            <!-- BRAND -->
            <div class="u-mb-lgr">
              <h6>Riu</h6>
              <div class="o-grid o-grid--center u-mb-lg">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-riu">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-primary-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-primary-100">100</span>
                </div>
              </div>
            </div>
            <!-- PALACE -->
            <!-- <div class="u-mb-lg">
              <h6>Palace</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-palace-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-palace-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-palace">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-palace-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-palace-100">100</span>
                </div>
              </div>
            </div> -->
            <!-- PLAZA -->
            <!-- <div class="u-mb-lg">
              <h6>Plaza</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-plaza-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-plaza-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-plaza u-color-white">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-plaza-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-plaza-100">100</span>
                </div>
              </div>
            </div> -->
            <!-- PARTY -->
            <!-- <div class="u-mb-6">
              <h6>Party</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-party-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-party-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-party u-color-white">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-party-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-party-100">100</span>
                </div>
              </div>
            </div> -->
            <!-- SECONDARY -->
            <h6 class="u-weight-bold u-pt-xl">(Secondary & Basic)</h6>
            <div class="u-mb-lg u-text-center">
              <h6>Secondary</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-secondary-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-secondary-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-secondary">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-secondary-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-secondary-100">100</span>
                </div>
              </div>
            </div>
            <!-- BASIC -->
            <div class="u-mb-lg@xs">
              <h6>Basic</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-basic-800">800</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-basic-600">600</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-basic-400">400</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-basic-200">200</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-basic-100">100</span>
                </div>
              </div>
            </div>
            <!-- BASIC -->
            <div class="u-mb-lg u-pb-xl">
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-5/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-black">black</span>
                </div>
                <div class="o-grid__col u-5/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-white">white</span>
                </div>
              </div>
            </div>

            <!-- OPERATIVES -->
            <!-- <h6 class="u-weight-bold u-pt-xl">(Operative)</h6> -->
            <!-- PRIMARY -->
            <!-- <div class="u-mb-lg">
              <h6>Primary</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-primary">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-primary-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-primary-100">100</span>
                </div>
              </div>
            </div> -->

            <!-- SYSTEM -->
            <h6 class="u-text-center u-weight-bold u-pt-xl">(System)</h6>
            <!-- SUCCESS -->
            <div class="u-mb-lg">
              <h6>Success</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-success-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-success-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-success">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-success-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-success-100">100</span>
                </div>
              </div>
            </div>
            <!-- DANGER -->
            <div class="u-mb-lg">
              <h6>Danger</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-danger-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-danger-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-danger">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-danger-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-danger-100">100</span>
                </div>
              </div>
            </div>
            <!-- WARNING -->
            <div class="u-mb-lg">
              <h6>Warning</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-warning-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-warning-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-warning">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-warning-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-warning-100">100</span>
                </div>
              </div>
            </div>
            <!-- INFO -->
            <div class="u-mb-lg">
              <h6>Info</h6>
              <div class="o-grid o-grid--center">
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-info-900">900</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-color-white u-block u-pv-md u-bgcolor-info-700">700</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-info">500</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-info-300">300</span>
                </div>
                <div class="o-grid__col u-2/12@xs">
                  <span class="u-width u-block u-pv-md u-bgcolor-info-100">100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="styles__example">
            <div class="u-flex u-jc-between u-flex-wrap">
              <h5>Box shadows</h5>
              <small class="u-mb-md">
                <pre>eg: u-shadows-xs</pre>
              </small>
            </div>
            <div class="o-grid o-grid--center u-text-center">
              <div class="o-grid__col u-4/12@xs u-mb-md">
                <span class="u-width u-shadows-xs u-block u-pv-md u-bgcolor-basic-200">XS</span>
              </div>
              <div class="o-grid__col u-4/12@xs u-mb-md">
                <span class="u-width u-shadows-md u-block u-pv-md u-bgcolor-basic-200">MD</span>
              </div>
              <div class="o-grid__col u-4/12@xs u-mb-md">
                <span class="u-width u-shadows-lg u-block u-pv-md u-bgcolor-basic-200">LG</span>
              </div>
            </div>
          </div>
          <div class="styles__example">
            <div class="u-flex u-jc-between u-flex-wrap">
              <h5>Border radius</h5>
              <small class="u-mb-md">
                <pre>eg: u-border-xs</pre>
              </small>
            </div>
            <div class="o-grid o-grid--center u-text-center">
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-xs u-color-white u-block u-pv-md u-bgcolor-primary">XS</span>
              </div>
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-md u-color-white u-block u-pv-md u-bgcolor-primary">MD</span>
              </div>
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-lg u-color-white u-block u-pv-md u-bgcolor-primary">LG</span>
              </div>
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-xl u-color-white u-block u-pv-md u-bgcolor-primary">XL</span>
              </div>
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="view-v2__border u-border-full u-color-white u-inline-block u-pv-md u-bgcolor-primary">FULL</span>
              </div>
            </div>
          </div>
          <div class="styles__example">
            <div class="u-flex u-jc-between u-flex-wrap">
              <h5>Aspect ratio</h5>
              <small class="u-mb-md">
                <pre>eg: u-ratio-1/1</pre>
              </small>
            </div>
            <div class="o-grid o-grid--center u-text-center">
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-xs u-color-secondary u-block u-pv-md u-bgcolor-primary-100 u-ratio-1/1">1/1</span>
              </div>
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-xs u-color-secondary u-block u-pv-md u-bgcolor-primary-100 u-ratio-3/4">3/4</span>
              </div>
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-xs u-color-secondary u-block u-pv-md u-bgcolor-primary-100 u-ratio-4/3">4/3</span>
              </div>
              <div class="o-grid__col u-2/12@xs u-mb-md">
                <span class="u-width u-border-xs u-color-secondary u-block u-pv-md u-bgcolor-primary-100 u-ratio-16/9">16/9</span>
              </div>
            </div>
          </div>
          <div class="styles__example">
            <h5>Baseline</h5>
            <p>"Magic number" = <strong>4px</strong></p>
          </div>
          <div class="styles__example">
            <div class="u-flex u-jc-between u-flex-wrap">
              <h5>Spacing (Padding/Margin)</h5>
              <small class="u-mb-md">
                <pre>eg: u-ph-2 | u-mv-3</pre>
              </small>
            </div>
            <div class="o-grid u-text-center">
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--none u-width u-color-transparent u-block u-pv-md">.</span>
                <span class="o-type-sm">0 (0px)</span>
              </div>
            </div>
            <div class="o-grid u-text-center">
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--1 u-width u-color-transparent u-block u-pv-md">.</span>
                <span class="o-type-sm">1 <small>4px</small></span>
              </div>
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--2 u-width u-color-transparent u-block u-pv-md">.</span>
                <span class="o-type-sm">2 <small>8px</small></span>
              </div>
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--3 u-width u-color-transparent u-block u-pv-md">.</span>
                <span class="o-type-sm">3 (12px)</span>
              </div>
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--4 u-width u-color-transparent u-inline-block u-pv-md">.</span>
                <span class="o-type-sm">4 <small>16px</small></span>
              </div>
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--5 u-width u-color-transparent u-inline-block u-pv-md">.</span>
                <span class="o-type-sm">5 <small>20px</small></span>
              </div>
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--6 u-width u-color-transparent u-block u-pv-md">.</span>
                <span class="o-type-sm">6 <small>24px</small></span>
              </div>
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--8 u-width u-color-transparent u-inline-block u-pv-md">.</span>
                <span class="o-type-sm">8 <small>32px</small></span>
              </div>
              <div class="o-grid__col u-2/12@md u-3/12@sm u-4/12@xs u-6/12 u-mb-md">
                <span class="view-v2__spacing view-v2__padding view-v2__spacing--12 u-width u-color-transparent u-block u-pv-md">.</span>
                <span class="o-type-sm">12 <small>48px</small></span>
              </div>
            </div>
          </div>
          <div class="styles__example">
            <h5>Breakpoints</h5>
            <ul class="u-reset-list">
              <li>Mobile first</li>
              <li>Tablet (> 640px) (@xs)</li>
              <li>Desktop (> 1024px) (@sm)</li>
              <li>Big size (> 1500px) (@md)</li>
            </ul>
            <div class="view-v2__breakpoint u-text-center u-bgcolor-primary-100 u-border-xs u-mv-md">
              <span class="u-p u-inline-block">
                <strong class="u-hidden@xs u-block">MOBILE</strong>
                <strong class="u-hidden u-block@xs u-hidden@sm">TABLET @xs</strong>
                <strong class="u-hidden u-block@sm u-hidden@md">DESKTOP @sm</strong>
                <strong class="u-hidden u-block@md">BIG SIZE @md</strong>
              </span>
            </div>
          </div>
          <div class="styles__example">
            <div class="u-flex u-jc-between u-flex-wrap">
              <h5>Container</h5>
              <small class="u-mb-md">
                <pre>eg: o-container</pre>
              </small>
            </div>
            <p>
              Container (default) = 1500px<br />
              gutter 32px (> mobile) / 20px<br />
              class "o-container"
            </p>
            <div class="o-container u-bgcolor-primary-100 u-pv u-border-xs u-mb-md">
              <div class="u-bgcolor-basic-400 u-border-xs u-text-center u-p">DEFAULT</div>
            </div>
            <p>
              Container (large) = 1920px<br />
              gutter 32px (> mobile) / 20px<br />
              class "o-container o-container--large"
            </p>
            <div class="o-container o-container--large u-bgcolor-primary-100 u-pv u-border-xs u-mb-md">
              <div class="u-bgcolor-basic-400 u-border-xs u-text-center u-p">LARGE</div>
            </div>
            <p>
              Container (fluid) = 100%<br />
              gutter 32px (> mobile) / 20px<br />
              class "o-container o-container--fluid"
            </p>
            <div class="o-container o-container--fluid u-bgcolor-primary-100 u-pv u-border-xs u-mb-md">
              <div class="u-bgcolor-basic-400 u-border-xs u-text-center u-p">FLUID</div>
            </div>
          </div>
          <div class="styles__example">
            <div class="u-flex u-jc-between u-flex-wrap">
              <h5>Grid</h5>
              <small class="u-mb-md">
                <pre>eg: o-grid</pre>
              </small>
            </div>
            <p>
              Desktop = 12cols / <small>(GAP 32px)</small><br />
              Tablet = 8cols / <small>(GAP 32px)</small><br />
              Mobile = 4cols / <small>(GAP 20px)</small>
            </p>
            <div class="o-container u-bgcolor-primary-100 u-pv u-border-xs u-mb-md">
              <div class="o-grid o-grid--center u-text-center">
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-hidden u-flex@xs u-hidden@sm u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-hidden u-flex@xs u-hidden@sm u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-hidden u-flex@xs u-hidden@sm u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
                <div class="o-grid__col u-hidden u-flex@xs u-hidden@sm u-1/4 u-1/8@xs u-1/12@sm u-mv-sm u-mv-md@xs">
                  <span class="u-bgcolor-basic-400 u-width u-inline-block u-border-xs u-text-center u-p-sm">1</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </ng-container>
</app-page-layout>
